<!DOCTYPE html>
<html lang="en-us">

	<head>
		<meta charset="utf-8">
        <title>Randomly | 404</title>
        <meta name="description" content="Add pictures and we select randomly one">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="itonoli">

        <link rel="shortcut icon" href="img/favicon.png">
        <link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<h1>404 ERROR</h1>
	</body>
