<!DOCTYPE html>
<html lang="en-us">

	<head>
		<meta charset="utf-8">
        <title>Randomly | Image</title>
        <meta name="description" content="Add pictures and we select randomly one">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="itonoli">

        <link rel="shortcut icon" href="img/favicon.png">
        <link rel="stylesheet" href="css/style.css" />
				<link href="https://fonts.googleapis.com/css?family=Open+Sans|VT323" rel="stylesheet">
	</head>
	<body>
	<div class="wrapper">
		<h1>This is the image we have chosen</h1>
		<div class="img">
			<%
			if(typeof(image) == 'undefined'){
				%><p>There is no image yet in memory</p>
			<%}
			else {%>
    	<img src="<%=image%>">
			<%}%>
		</div>
		<div class="btn">
			<a href="/randomly">Retry</a>
			<a href="/">Home</a>
		</div>
	<div>
	</body>
